.parent {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px;
    flex-direction: column;

}
.display{
    height: 10vh;
    width:95vw;
    margin-bottom: 20px;
 

}
.num {
     padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.flex-box {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: white;
    font-size: 20px;
}

.row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
}
